html{
	background-color : #f7ebd2;
}

#Etiquette1{
	color: #00b500;
}
	
.Titre{
   color: #cc38b9;
   text-align: center;
}

.Imagereduite{
   width : 35%;
   margin: 0 auto;
}

.Image1{
  border: 3px solid red ;
  display: block;
  margin: 0 auto;
}
